@import url('https://fonts.googleapis.com/css?family="Montserrat"&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nav {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  justify-content: space-between;
  background-color: #272829;
  margin: 0;
  padding: 0;
  transition: .4s;
  height: 5rem;
}

#hamburger {
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 1.8rem 2rem;
  gap: .4rem;
  transition: .5s;
}

.icon {
  color: white;
  transition: transform .4s, border-bottom .2s, padding-bottom .2s, color .2s;
}

.link:hover {
  cursor: pointer;
}

#hamburger:hover {
  background-color: black;
}

.bars {
  height: .2rem;
  width: 2.5rem;
  background-color: white;
  transition: all .2s ease-in-out;
}

.socials {
  display: flex;
  padding: 1.5rem 2.5rem;
  gap: 1.5rem;
}

.social-link:hover .icon:hover {
  border-bottom: .25rem solid white;
  padding-bottom: .2rem;
  transform: scale(1.1);
}

.nav-links {
  display: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: white;
  font-size: 1.25rem;
  padding: 1.75rem 2.5rem;
  transition: .5s;
  text-decoration: none;
  background-color: #272829;
}

.nav-link:visited {
  color: white;
}

.link-wrapper {
  width: auto;
  transition: .1s;
}

.nav-link:hover .link-wrapper {
  border-bottom: .2rem solid white;
  padding-bottom: .1rem;
}

.nav-link:hover {
  background-color: black;
  cursor: pointer;
}

.transform-bars:nth-of-type(1) {
  transition: all .2s ease-in-out;
  transform: rotate(45deg);
  transform-origin: top left;
  width: 1.8rem;
}

.transform-bars:nth-of-type(2) {
  transition: all .2s ease-in-out;
  transform-origin: center;
  width: 0;
}

.transform-bars:nth-of-type(3) {
  transition: all .2s ease-in-out;
  transform: rotate(-45deg);
  transform-origin: bottom left;
  width: 1.8rem;
}

.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5rem;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.post {
  padding: 2rem 3rem;
  background-color: white;
  display: none;
  overflow: hidden;
  flex-direction: column;
  gap: 2rem;
}

.accordion:after {
  content: '\02795'; 
  font-size: 1rem;
  color: #272829;
  float: right;
}

.active:after {
  content: "\2796";
}

.header {
  margin: 1rem 0;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.text {
  color: black;
  font-size: 1rem;
  padding: 1rem;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: black;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  font-weight: bold;
  padding-bottom: 2rem;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .6}
  to {opacity: 1}
}

.game {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  height: auto;
  width: 5rem;
}

.info-wrap {
  text-align: center;
  padding: 2rem;
}

.info-wrap div {
  padding: .2rem;
}

.solid {
  border-top: .1rem solid #888;
  width: 100%;
}

.active-tab {
  background-color: black;
}

@media screen and (min-width: 598px) {
  .nav, .accordion, .active, .post, .slideshow-container, .game, .solid {
    width: 598px;
  }

  #hamburger {
    display: none;
  }

  .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .nav-link {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .nav, .accordion, .active, .post, .slideshow-container, .game, .solid {
    width: 768px;
  }
}

@media screen and (min-width: 1028px) {
  .nav, .accordion, .active, .post, .slideshow-container, .game, .solid {
    width: 1028px;
  }
}